/* Common */
.body {
  max-width: 1090px;
  margin: 0 auto;
}

/* FirstView */
.firstView {
  background: #D90506;
}

.firstView img {
  width: 46%;
  top: 50%;
  transform: translateY(-50%);
  filter: drop-shadow(0px 4px 74px #B4090A);
}

@media screen and (max-width: 600px) {
  .firstView img {
    top: 47%;
    width: 400px;
  }
}

/* OverView */
.overView h2 {
  color: #D90506;
}

